<header>
    <div class="header-content">
        <div class="col-lg-6 col-lg-offset-6 text-center" class="header-content-inner">
            <h2>Life Consulting</h2>
            <hr>
            	<p>
            	<big><b>For who?</b></big>  Individuals in high stress, high achieving environments<br>
            	<big><b>For what?</b></big>  Develop healthy habits, improve relationships, and find peace<br>
            	<big><b>How?</b></big>  Logic, Eastern & Western philosophies, mindfulness 
            	</p>
            <hr>
            	<p><big><b>Di (pronounced "DEE") brings a unique perspective as a:</b></big><br>
            		- certified yoga teacher <br>
            		- private meditation teacher <br>
            		- veteran wall street trader <br>
            		- Princeton engineering graduate <br>
            <hr>
            		<h3><i>Di serves as a vessel. Nature is the real teacher.</i></h3>
            	</p>
        </div>
    </div>
</header>
