<header>
    <div class="header-content">
        <div class="header-content-inner" align="center">
            <h2>Life Consulting</h2>
            <hr>
            	<p>
            	<h4>For who?</h4> 
            	Individuals in high stress, high achieving environments <br>
            	<h4>For what?</h4>
            	Develop healthy habits, improve relationships, and find peace <br>
            	<h4>How?</h4> Logic, Eastern & Western philosophies, mindfulness 
            	</p>
            <hr>
            	<p><h4>Di (pronounced "DEE") brings a unique perspective as a: </h4>
            		- certified yoga teacher <br>
            		- private meditation teacher <br>
            		- veteran wall street trader <br>
            		- Princeton University BSE graduate <br>
            <hr>
            		<i>Di serves as a vessel. Nature is the real teacher.</i>
            	</p>
        </div>
    </div>
</header>
